@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: 'Press Start 2p', cursive;
  font-size: small;
  color: #31322b;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  min-height: 2rem;
  display: flex;
  flex: 0 1 auto;
  justify-content: space-between;
  background-color: whitesmoke;
  border-bottom: 2px solid #31322b;
}

#ClearScoreButton {
  border: 1px solid;
  border-radius: 3px;
  padding: 0.5rem;
  margin: 1rem;
}

#ClearScoreButton:hover {
  border: 1px solid red;
}

#ScoreBoard {
  float: right;
  padding: 0.5rem;
  margin: 0.5rem;
}

main {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex: 1 1 auto;
  background: linear-gradient(315deg, #75c5fc, #faf9f9)
}

#Gameboard {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.Card {
  background-color: whitesmoke;
  box-shadow: 7px 7px 3px #324A4B;
  border-radius: 10%;
  height: 150px;
  width: 150px;
  margin: 2rem;
}
